<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517111574182-sfsd4qsvepotjk2ri9kcsgpf42cuhl1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517111574182-sfsd4qsvepotjk2ri9kcsgpf42cuhl1b</string>
	<key>API_KEY</key>
	<string>AIzaSyApkuCgKnPVc4-mig9MUv63CnoyfbuBTOU</string>
	<key>GCM_SENDER_ID</key>
	<string>517111574182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moahmedmenazaa.riderapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-uber-clone-30967</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-uber-clone-30967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517111574182:ios:077bb1e742643791454e67</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-uber-clone-30967-default-rtdb.firebaseio.com</string>
</dict>
</plist>